<section class="locations-container">
    <div ng-repeat="loc in travelInfo">
        <section class="location-card">
            <div class="image-container">
                <img ng-src="{{ loc.image }}" alt="{{ loc.city }}">
            </div>
            <div class="location-inner-left">
                <h6>{{ loc.city }}</h6>
                <h1>{{ loc.country }}</h1>
                <p>{{ loc.desc }}</p>
            </div>
            <div class="location-inner-right">
                <h3>Package Start At ${{ loc.price }}</h3>
                <!--You will need to make the ui-sref work. It should point to the booked state. If you look at your app.js the booked state
           is expecting an id to be passed along. You can get that id from the data object that we are repeating over. The syntax for going to a route with params is "routename({param:paramValue})" -->
                <button ui-sref="booked({id: {{ loc.id }} })">Book Now</button>
            </div>
        </section>
    </div>
</section>
